body {
  background-color: gray;
}

.App {
  text-align: center;
}

h3 {
  text-align: center;
}

.input-local-storage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 0.5rem solid red;
  padding: 1rem 1rem 1rem 1rem;
}